---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---
<header class="bg-white shadow-sm sticky top-0 z-50">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
      <div class="w-full py-4 flex items-center justify-between border-b border-[#00A6B2] lg:border-none">
        <div class="flex items-center">
          <a href="/">
            <span class="sr-only">Tu Imagen Lab</span>
            <Image src={logo} class="h-16 w-auto" alt="Tu Imagen Lab" />
          </a>
        </div>
        <div class="ml-10 space-x-4">
          <a href="#services" class="text-base font-medium text-[#505050] hover:text-[#00A6B2]">Servicios</a>
          <a href="#pricing" class="text-base font-medium text-[#505050] hover:text-[#00A6B2]">Precios</a>
          <a href="#workflow" class="text-base font-medium text-[#505050] hover:text-[#00A6B2]">Cómo trabajamos</a>
          <a href="#locations" class="text-base font-medium text-[#505050] hover:text-[#00A6B2]">Ubicaciones</a>
        </div>
      </div>
    </nav>
</header>
  