---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Tu Imagen Lab - Laboratorio Dental Digital</title>
		<meta name="description" content="Tu Imagen Lab es un laboratorio dental digital que ofrece soluciones para tu clínica." />
	</head>
	<body class="min-h-screen bg-gray-50">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
